@import url('http://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.hero,
.footer {
    /* Background color footer and hero image */
    background-color: #1F2937;
}

.hero {
    padding-bottom: 40px;
}

.header-text-img {
    display: flex;
    flex-direction: row;
    font-size: 48px;
    color: #F9FAF8;
    margin-top: 80px;
    margin-bottom: 80px;
}

.header-text-img .header-text {
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
}

.header-text .main {
    /* This text is awesome */
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.header-text .secondary,
.header-text-img .image {
    font-size: 18px;
    color: #E5E7EB;
}

.header-text .button {
    background-color: #3882F6;
}

.hero h2 {
    /* Header Logo */
    size: 24px;
    color: #F9FAF8;
    margin-top: px;
}

.hero p,
.text-circle {
    /* Secondary text */
    size: 18px;
    color: #E5E7EB;
}

.header-text-img .image {
    /* Background gray rectangle for the image */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    top: 50%;
    left: 50%;
    flex: 1 1 0px;
}

.placeholder {
    text-align: center;
}

.button {
    color: #F9FAF8;
    border-radius: 8px;
    width: 100px;
    height: 40px;
    margin-top: 20px;
    padding-left: 13px;
    padding-right: 13px;
    border: 2px solid #3882F6;
    font-weight: bold;
}

.h1 {
    /* Information header text */
    font-weight: 800;
    color: #1F2937;
    font-size: 36px;
}

.footer {
    text-align: center;
    color: #F9FAF8;
    padding: 4rem;
}

.hero,
.boxes,
.footer {
    padding-left: 20%;
    padding-right: 20%;
}

.quote {
    padding-left: 10%;
    padding-right: 10%;
}

.header-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    color: #E5E7EB;
    padding-top: 12px;
}

.header-links .logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links .space {
    flex-grow: 10;
}

.header-links .link-h {
    font-size: 18px;
    flex-grow: 1;
    text-align: center;
}

.rd-info {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: 10%;
}

.rounded-and-text {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 10%;
}

.single-elt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgrect {
    border-radius: 25px;
    width: 200px;
    height: 150px;
    margin: 20px;
    border: 2px solid #3882F6;
}

.imgtext {
    width: 200px;
    margin-bottom: 10%;
    text-align: center;
}

.quote {
    /* Quote background */
    background-color: #E5E7EB;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.quotetext {
    /* Quote text */
    margin: 10%;
    top: 50%;
    left: 50%;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 300;
}

.author {
    margin: 10%;
    text-align: right;
    font-weight: 800;
    font-size: 24px;
}

.third-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    padding: 5%;
    margin: 10%;
    border: 2px solid #3882F6;
}

.small-text {
    font-weight: 800;
}

.button-two {
    border: 2px solid #F9FAF8;
    border-radius: 10px;
    width: 100px;
    font-weight: 800;
    color: #F9FAF8;
    background-color: #3882F6;
}